<h1 class="bg-light text-info text-center">List Customer</h1>

<div class="container">
  <button class="btn btn-outline-success mt-3 mb-3" routerLink="/create">ADD</button>


  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-info">
      <tr>
        <th>Số xe</th>
        <th>Loại xe</th>
        <th>Tên nhà xe</th>
        <th>Điểm đi</th>
        <th>Điểm đến</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Giờ đi</th>
        <th>Giờ đến</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicle of vehicleList|paginate:{itemsPerPage:size,currentPage:page}">

        <td>{{vehicle.id}}</td>
        <td>{{vehicle.vehicleType}}</td>
        <td>{{vehicle.name}}</td>
        <td>{{vehicle.fromPoint}}</td>
        <td>{{vehicle.endPoint}}</td>
        <td>{{vehicle.phone}}</td>
        <td>{{vehicle.email}}</td>
        <td>{{vehicle.startTime}}</td>
        <td>{{vehicle.endTime}}</td>
        <td>
          <button class="btn btn-outline-warning" [routerLink]="['/update',vehicle.id]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-pencil-square"
                 viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                  (click)="getVehicleDelete(vehicle)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                 viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg>
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>



</div>
<!--Phaan trang-->
<div class="container mt-3 mb-5">
  <div class="pagination float-end">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<nav aria-label="...">
  <ul class="pagination">
    <li *ngIf="page > 0"  class="page-item disabled">
      <button class="page-link"tabindex="-1" aria-disabled="true" (click)="previousPage()">Previous</button>
    </li>
    <li class="page-item disabled">
      <button class="page-link" tabindex="-1" aria-disabled="true" >{{page}}/{{totalPage}}</button>
    </li>
    <li *ngIf="page < totalPage"  class="page-item">
      <button class="page-link" (click)="nextPage()">Next</button>
    </li>
  </ul>
</nav>
<!--Delete Modal-->
<div *ngIf="vehicleDelete" class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h4 class="modal-title">Delete customer</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Do you want to delete this customer?
        <div>Name: <span class="fst-italic">{{vehicleDelete.name}}</span></div>
        <span class="text-danger">(This action cannot be undone)</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(vehicleDelete.id)">
          Delete
        </button>
      </div>

    </div>
  </div>
</div>

