<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="createProductForm" (ngSubmit)="submid()">
    <div>
      <label>Tên sản phẩm:</label>
      <input type="text" formControlName="name">
    </div>
    <div>
      <label>Giá sản phẩm</label>
      <input type="number" formControlName="price">
    </div>
    <div>
      <label>Mô tả về sản phẩm</label>
      <input type="text" formControlName="description">
    </div>
    <div>
      <label for="category">Thể Loại</label>
      <select name="category" id="category" formControlName="category">
        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
      </select>
    </div>
    <div>
      <button>Tạo mới</button>
    </div>
</form>
