
<h1 class="text-success">Product list</h1>
<button routerLink="/create">ADD PRODUCT</button>
<table class="table table-hover">
  <thead>
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Sửa</th>
    <th>Xóa</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>Sửa</td>
      <td>Xóa</td>
    </tr>
  </tbody>
</table>
