

<h1>Cập nhật sản phẩm </h1>
<form [formGroup]="updateProductForm" (ngSubmit)="submid()">
  <div>
    <label>Tên sản phẩm:</label>
    <input type="text" formControlName="name">
  </div>
  <div>
    <label>Giá sản phẩm</label>
    <input type="number" formControlName="price">
  </div>
  <div>
    <label>Mô tả về sản phẩm</label>
    <input type="text" formControlName="description">
  </div>
  <div>
    <label for="category">Thể Loại</label>
    <select name="category" id="category" formControlName="category">
      <option *ngFor="let category of categoryList" value="{{category.id}}">{{category.name}}</option>
    </select>
  </div>
  <div>
    <button>Tạo mới</button>
  </div>
</form>

