<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Facility</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <!--    <th:block th:replace="~{common/common::css}"></th:block>-->
    <style>
        body {
            background: url("https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?cs=srgb&dl=pexels-thorsten-technoman-338504.jpg&fm=jpg")
        }
        form{
            background: rgba(255,255,255,0.7);
        }
    </style>
</head>
<body>
<!--navbar-->
<!--<div th:replace="~{common/common::navbar}"></div>-->

<h4 class="p-3 bg-primary text-white text-center">Thêm mới dịch vụ</h4>
<div class="d-flex justify-content-center">
    <form action="/facility/addFacility" method="post"
          class="text-success fw-bold w-75 mt-5 mb-5 shadow-lg p-5">
        <select class="form-select-lg w-50 m-auto mt-3 border-success rounded-pill" id="addSelect"
                onchange="displayInputAdd()">
            <option>Chọn loại dịch vụ</option>
            <option value="1">Villa</option>
            <option value="2">House</option>
            <option value="3">Room</option>
        </select>
        <div class="row">
            <div class="col-md-6 col-sm-12 ">
                <div class="mb-3">
                    <label for="tenDv" class="form-label ">1. Nhập Tên dịch vụ</label>
                    <input type="text" class="form-control" id="tenDv"
                           placeholder="Nhập Tên dịch vụ">
                    <!--                    <span class="text-danger " th:errors="*{facilityName}"></span>-->
                </div>
                <div class="mb-3">
                    <label for="dienTich" class="form-label ">2. Nhập Diện tích sử dụng</label>
                    <input type="text" class="form-control" id="dienTich"
                           placeholder="Nhập Diện tích">
                    <!--                    <span class="text-danger " th:errors="*{area}"></span>-->
                </div>
                <div class="mb-3">
                    <label for="chiPhiThue" class="form-label ">3. Nhập chi phí thuê</label>
                    <input type="text" class="form-control" id="chiPhiThue"
                           placeholder="Nhập chi phí thuê">
                    <!--                    <span class="text-danger " th:errors="*{cost}"></span>-->

                </div>
                <div class="mb-3">
                    <label for="soNguoiToiDa" class="form-label ">4. Nhập số người tối đa</label>
                    <input type="text" class="form-control" id="soNguoiToiDa"
                           placeholder="4. Nhập số người tối đa">
                    <!--                    <span class="text-danger " th:errors="*{maxPeople}"></span>-->
                </div>
                <div class="mb-3">
                    <label for="kieuThue" class="form-label">5. Chọn kiểu thuê</label>
                    <select name="kieuThue" id="kieuThue" class="form-control">
                        <option class="text-success" value="1">Thuê theo giờ</option>
                        <option class="text-success" value="2">Thuê theo ngày</option>
                        <option class="text-success" value="3">Thuê theo tháng</option>
                        <option class="text-success" value="4">Thuê theo năm</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <div class="mb-3 " style="display: none" id="divTieuChuanPhong">
                    <label for="tieuChuanPhong" class="form-label ">Nhập Tiêu chuẩn phòng</label>
                    <input type="text" class="form-control" id="tieuChuanPhong"
                           placeholder="Nhập Tiêu chuẩn phòng">
                    <!--                    <span class="text-danger " th:errors="*{standardRoom}"></span>-->

                </div>
                <div class="mb-3 " style="display: none" id="divTienNghiKhac">
                    <label for="tienNghiKhac" class="form-label ">Nhập Mô tả tiện nghi khác</label>
                    <input type="text" class="form-control" id="tienNghiKhac"
                           placeholder="Nhập Mô tả tiện nghi khác">
                    <!--                    <span class="text-danger " th:errors="*{descriptionOtherConvenience}"></span>-->
                </div>
                <div class="mb-3 " style="display: none" id="divDienTichHoBoi">
                    <label for="dienTichHoBoi" class="form-label ">Nhập Diện tích hồ bơi</label>
                    <input type="text" class="form-control"
                           placeholder="Nhập Diện tích hồ bơi" id="dienTichHoBoi">
                    <!--                    <span class="text-danger " th:errors="*{poolArea}"></span>-->

                </div>
                <div class="mb-3 " style="display: none" id="divSoTang">
                    <label for="soTang" class="form-label ">Nhập Số tầng</label>
                    <input type="text" class="form-control"
                           placeholder="Nhập Số tầng" id="soTang">
                    <!--                    <span class="text-danger " th:errors="*{numberOfFloor}"></span>-->

                </div>
                <div class="mb-3 " style="display: none" id="divDichVuMienPhi">
                    <label for="dichVuMienPhi" class="form-label ">Nhập dịch vụ miễn phí đi kèm</label>
                    <input type="text" class="form-control"
                           placeholder="Nhập dịch vụ miễn phí đi kèm" id="dichVuMienPhi">
                    <!--                    <span class="text-danger" th:errors="*{facilityFree}"></span>-->
                </div>
            </div>
        </div>
        <div>
            <a class="btn bg-dark text-white" href="/facility">Quay lại</a>
            <button type="submit" id="add" class="btn btn-success">Thêm mới</button>
        </div>
    </form>
</div>
<!--<footer th:replace="~{common/common::footer}"></footer>-->

<script>

    function displayInputAdd() {
        let value = document.getElementById("addSelect").value;
        let divTieuChuanPhong = document.getElementById("divTieuChuanPhong");
        let divTienNghiKhac = document.getElementById("divTienNghiKhac");
        let divDienTichHoBoi = document.getElementById("divDienTichHoBoi");
        let divSoTang = document.getElementById("divSoTang");
        let divDichVuMienPhi = document.getElementById("divDichVuMienPhi");
        switch (value) {
            case "none":
                divTieuChuanPhong.style.display = "none"
                divTienNghiKhac.style.display = "none"
                divDienTichHoBoi.style.display = "none"
                document.getElementById("dienTichHoBoi").value = 0;
                divSoTang.style.display = "none"
                document.getElementById("soTang").value = 0;
                divDichVuMienPhi.style.display = "none"
                document.getElementById("add").disabled = true;
                console.log(0)
                break;
            case "1":
                divTieuChuanPhong.style.display = "block"
                divTienNghiKhac.style.display = "block"
                divDienTichHoBoi.style.display = "block"
                divSoTang.style.display = "block"
                divDichVuMienPhi.style.display = "none"
                document.getElementById("add").disabled = false;
                console.log(2)
                break;
            case "2":
                divTieuChuanPhong.style.display = "block"
                divTienNghiKhac.style.display = "block"
                divDienTichHoBoi.style.display = "none"
                document.getElementById("dienTichHoBoi").value = 0;
                divSoTang.style.display = "block"

                divDichVuMienPhi.style.display = "none"
                document.getElementById("add").disabled = false;
                console.log(1)
                break;
            case "3":
                divTieuChuanPhong.style.display = "none"
                divTienNghiKhac.style.display = "none"
                divDienTichHoBoi.style.display = "none"
                document.getElementById("dienTichHoBoi").value = 0;
                divSoTang.style.display = "none"
                document.getElementById("soTang").value = 0;
                divDichVuMienPhi.style.display = "block"
                document.getElementById("add").disabled = false;
                console.log(3)
                break;
        }
    }

    displayInputAdd()
</script>
<!--Footer-->
<!--<script th:replace="~{common/common::js}"></script>-->
</body>
</html>